<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h2>Become an Affiliate</h2></div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form class="form" action="<?= Base::instance()->get(BASEURL); ?>/register/newuser/" method="POST">
				<div class="row">
					<div class="col-sm-12">
						<label>Full Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="fullName"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>Email</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="email" class="form-control" name="email"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>Username</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="username"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="password" class="form-control" name="password"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>Mobile</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="mobile"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary" type="submit">Register</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>	
</div>